.app {
	height: 100vh;

	.sections {
		width: 100%;
		height: calc(100vh - 70px);
		background-color: lightsalmon;
		position: relative;
		top: 70px;
		scroll-behavior: smooth; // slows it down
		scroll-snap-type: y mandatory; // snap the scroller
		scrollbar-width: none; // for firefox
		&::-webkit-scrollbar {
			// scrollbar disappears
			display: none;
		}

		> * {
			width: 100vw;
			height: calc(100vh - 70px);
			scroll-snap-align: start; // snaps the scroll to the beginning of each section
		}
	}
}
